# Databases & State
*.db
*.sqlite3
server_manager.db

# Environments & App Tokens
.env
.venv
env/
venv/

# Compilation Artifacts & Caches
__pycache__/
*.pyc
.pytest_cache/

# Host OS System Dumps
.DS_Store
Thumbs.db
